body {
  font-family: system-ui;
  text-align: center;
  height: 100vh;
  margin: 0;
  display: flex;
}

#root {
  display: flex;
  flex: 1 1;
}

.screen {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.app {
  display: flex;
  flex-direction: column;
  flex: 1 1;
}

.tagline {
  font-size: 16pt;
  margin: 32px 0;
}

.game-word {
  text-transform: capitalize;
}

.choices {
  display: flex;
  justify-content: center;
}

.choice {
  border: 0;
  font: inherit;
  font-weight: bold;
  font-size: 15pt;
  background: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 16px;
  border-radius: 8px;
  text-transform: capitalize;
  margin: 8px;
  transition: transform 300ms;
  white-space: nowrap;
}

.waiting-for-answer .choice:hover {
  transform: scale(1.05);
}

.choice-incorrect {
  opacity: 0.2;
}

.choice-correct {
  opacity: 1;
}

.choice-correct:not(.choice-answer) {
  animation: 500ms pop;
}

.choice:disabled {
  color: black;
}

.choice-correct.choice-answer {
  color: #00a637;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  60% {
    transform: scale(1.05);
  }

  80% {
    transform: scale(0.99);
  }

  100% {
    transform: scale(1);
  }
}

.skip {
  border: 0;
  background: none;
  font-weight: bold;
  font-size: 14pt;
  color: #aaa;
  margin: 24px;
}

.skip:hover {
  color: black;
}

.title {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.header-title {
  color: black;
  font-size: 12pt;
  font-weight: bold;
  text-decoration: none;
}

.view {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.language-selector-item {
  border: 0;
  background: none;
}

.language-selector-name {
  font: inherit;
  font-weight: bold;
  font-size: 16pt;
}

.game-screen {
  justify-content: flex-start;
}

.spinner {
  animation: 2s linear infinite spin-animation;
  max-width: 100px;
}

.spinner circle {
  animation: 1.4s ease-in-out infinite both spin-circle-animation;
  display: block;
  fill: transparent;
  stroke: #2f3d4c;
  stroke-linecap: round;
  stroke-dasharray: 283;
  stroke-dashoffset: 280;
  stroke-width: 10px;
  transform-origin: 50% 50%;
}

@keyframes spin-animation {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg)
  }
}

@keyframes spin-circle-animation {
  0%, 25% {
    stroke-dashoffset: 280;
    transform: rotate(0);
  }

  50%, 75% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }

  100% {
    stroke-dashoffset: 280;
    transform: rotate(360deg);
  }
}
