:root {
  --color-primary: #00a637;
  --color-streak: #ff6000;
  --color-streak-dim: #ffcfb1;
}

body {
  font-family: system-ui;
  text-align: center;
  height: 100vh;
  margin: 0;
  display: flex;
}

#root {
  display: flex;
  flex: 1 1;
}
